body {
  background-color: rgb(202, 186, 152);
  font-family: 'lucida handwriting';
}

.titulo {
  text-align: center;
}

.logo {
  align-self: center;
  display: flex;
  justify-content: center;
}

.listaProdutos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 768px){
  .produto {
    width: 40%;
  }
}

@media only screen and (min-width: 768px){
  .produto {
    width: 21%;
  }
}

.produto {
  display: initial;
  margin : 5px;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 10px;
  position: relative;
}

.imgProd {
  position: relative;
}

.esgotado {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  transition: 500ms ease;
  padding: 20px 0;
  background-color: rgba(167, 12, 12, 0.609);
}

.produto:hover .esgotado {
  opacity: 0;
}

.imgProd > img {
  width: 100%;
  height: 100%;
  display: block;
}

.textoProduto {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}